In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('Train.csv')

In [3]:
train.columns

Index(['Brand', 'Model_Info', 'Additional_Description', 'Locality', 'City',
       'State', 'Price'],
      dtype='object')

In [80]:
train['location'] = train['Locality'] + train['City'] + train['State']

In [84]:
train_cols = ['Brand','location']
target_col = ['Price']

x = train[train_cols].values
y = train[target_col].values.ravel()

In [7]:
from sklearn.model_selection import KFold

In [85]:
from sklearn.ensemble import RandomForestRegressor,ExtraTreesRegressor
from sklearn.metrics import r2_score,mean_squared_log_error
from sklearn.svm import SVR


clf1 = RandomForestRegressor(n_estimators=100,random_state = 991,n_jobs = -1)

clf2 = SVR(C = 10)


kfold = KFold(n_splits=5,shuffle = True,random_state=991)


for train_idx,test_idx in kfold.split(x):
    
    trainx,testx = x[train_idx],x[test_idx]
    trainy,testy = y[train_idx],y[test_idx]

    
    clf1.fit(trainx,trainy)
    
    pred = clf1.predict(testx)
    

    
    print(np.sqrt(mean_squared_log_error(pred,testy)))
    
    
#     pred = np.log(pred+1)
    
#     true = np.log(testy+1)
    
    
#     print(np.sqrt(np.mean((pred - true)**2)))

0.7861970746898627
0.8113467634740569
0.8427362586516968
0.8136803893162867
0.7606618399405817

In [87]:
clf1.feature_importances_

array([0.1282017, 0.8717983])

# Prediction

In [69]:
test = pd.read_csv('Test.csv')
test

,Brand,Model_Info,Additional_Description,Locality,City,State
0,1,name0 55s66s66s778xxsxsmax etc,good condition 11months old single scratch we...,570,11,4
1,1,slightly used excellent condition name0 5 sale,101008700 1010030600 1010034300 10100192200 1...,762,8,2
2,1,name0 sx ios12 top letast model bill call,1010017300 delivery,60,13,5
3,1,name87 name0 x 64gb going lowest 41900,phone 1010023400 64 gb excellent condition sale,640,15,5
4,1,name0 5s proper condition one handedly used,full kit available 10100248300 condition 4gb ...,816,2,6
...,...,...,...,...,...,...
992,1,name0 7 32gb sale accessories,wife upgrading mobile 10100000 x 101009600 sp...,796,4,0
993,1,name233 8 pro 6gb ram 128gb rom 1year old mobile,101004800 1010036800 1 month 12 days old 1010...,145,17,7
994,0,name233 name2815 6 gb ram 128 gb rom blue 3 m...,10100105200 leeco 1010018400 10100221100 1010...,352,13,5
995,1,name269 phone 6,phone best condition 101006600 device selling...,350,4,0
996,1,name0 7 red 128 gb,1010023300 9 10100148200 good condition compl...,602,11,4

In [1]:
x_test_data = test[train_cols].values
x_test_data.shape

NameError: name 'test' is not defined

In [72]:
test_pred = clf2.predict(x_test_data)

In [73]:
sub = pd.read_excel('Sample_Submission.xlsx')

In [74]:
sub

            Price
0    21773.398095
1    21277.682833
2    64172.642738
3    24174.489232
4    16453.462895
..            ...
992  35146.496438
993  21691.287399
994   9799.666667
995  26859.356667
996  19737.813219

[997 rows x 1 columns]

In [75]:
sub['Price'] = test_pred

In [76]:
sub.to_excel('baseline.xlsx',index=False)